*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.tar.xz
*.tmp
*~
.#*
\#*\#
,*
/aclocal.m4
/autom4te.cache
/build-aux
/config.status
/configure
/doc/*.1
/doc/.dirstamp
/doc/contributing.*.texi
/doc/glorri*.aux
/doc/glorri*.cp
/doc/glorri*.cps
/doc/glorri*.fn
/doc/glorri*.fns
/doc/glorri*.html
/doc/glorri*.info
/doc/glorri*.info-[0-9]
/doc/glorri*.ky
/doc/glorri*.pg
/doc/glorri*.toc
/doc/glorri*.t2p
/doc/glorri*.tp
/doc/glorri*.vr
/doc/glorri*.vrs
/doc/glorri.*.texi
/doc/glorri-cookbook.*.texi
/doc/glorri.aux
/doc/glorri.cp
/doc/glorri.cps
/doc/glorri.fn
/doc/glorri.fns
/doc/glorri.html
/doc/glorri.info
/doc/glorri.info-[0-9]
/doc/glorri.ky
/doc/glorri.pg
/doc/glorri.toc
/doc/glorri.t2p
/doc/glorri.tp
/doc/glorri.vr
/doc/glorri.vrs
/doc/os-config-bare-bones.texi
/doc/os-config-desktop.texi
/doc/stamp-vti
/doc/version.texi
/doc/version-*.texi
/guile.am
/m4/*
/pre-inst-env
/release-*
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
.am[0-9]*/
.dirstamp
.deps
tmp
/.tarball-version
/.version
/guile
.DS_Store
/scripts/glorri
*.trs
*.log
*.db