*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.tar.xz
*.tmp
*~
.#*
\#*\#
,*
/aclocal.m4
/autom4te.cache
/build-aux
/config.status
/configure
/guile.am
/m4/*
/pre-inst-env
/release-*
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
.am[0-9]*/
.dirstamp
.deps
tmp
/.tarball-version
/.version
/guile
.DS_Store
/scripts/glorri
*.trs
*.log
*.db